*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // make it such that 1rem will be same as 10px

    @include respond(tab-land){
        font-size: 56.25% // make to 9px
    }
    @include respond(tab-port){
        font-size: 50% // make to 8px
    }
    @include respond(phone){
        font-size: 80% // make to 12px
    }
}

body{
    box-sizing: border-box;
    font-family: bebas-neue, sans-serif;

    @include respond(tab-port){
        padding: 0;
    }
}